.DS_Store
x64/

lib/
lib/*.cubin

*.o
*.a
*.lib
*.bin
*.log
*.hmap
*.d
*.dia
*.dat
*.LinkFileList

*.cmake
CMakeCache.txt
CMakeFiles/
project_files/macos/build/
windows/build
Cycles.build/
CMakeScripts/

*sdf
*suo
bin/
obj/
*.user
RhinoCycles/
*blend1
*blend2
bindeps/
*.aps
boost/
boostbuild/build.log
*.rej
*.orig
*.opendb
packages/
*.patch
*.diff

xcuserdata/

.fake
.ionide
