.DS_Store
x64/
__pycache__/

lib/
lib/*.cubin

diagnostics.json
nvimpath.ps1
shadernodes_cs/

*.o
*.a
*.lib
*.bin
*.log
*.hmap
*.d
*.dia
*.dat
*.LinkFileList

*.bu

*.cmake
CMakeCache.txt
CMakeFiles/
project_files/macos/build/
windows/build
Cycles.build/
CMakeScripts/

*sdf
*suo
bin/
obj/
*.user
RhinoCycles/
*blend1
*blend2
bindeps/
*.aps
boost/
boostbuild/build.log
*.rej
*.orig
*.opendb
packages/
*.patch
*.diff

xcuserdata/

.fake
.ionide
