LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

1 VERSIONINFO
FILEVERSION VERSIONCOMMAS
PRODUCTVERSION VERSIONCOMMAS
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "FileDescription", "Dependency for Rhino Cycles integration"
		VALUE "ProductName", "RhinoCycles integration"
		VALUE "FileVersion", "VERSIONDOTS"
		VALUE "ProductVersion", "VERSIONDOTS"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

// This template is now only used to stamp VERSIONINFO onto prebuilt
// third-party DLLs that we ship but do not link (the oneAPI JIT DLL).
// It used to also pull in ccycles_manifest.txt as resource 2; ccycles.dll now
// gets both its VERSIONINFO and its SxS manifest at link time from
// cycles/src/ccycles/CMakeLists.txt.
