# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent
