// Version resources for ccycles.dll, compiled in by src/ccycles/CMakeLists.txt.
// The version numbers and copyright information come from the header below.
//
// The path is relative to this file: cycles/src/ccycles -> src4. Rhino
// generates src4/version.h during its build, so it only resolves inside a
// Rhino tree; standalone Cycles builds fall back to the version.h next to this
// file by defining STANDALONE.
#if !defined(STANDALONE)
#include "..\..\..\..\..\..\..\version.h"
#else
#include "version.h"
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_WITH_COMMAS
 PRODUCTVERSION VERSION_WITH_COMMAS
 FILEFLAGSMASK RHINO_FILE_FLAGS_MASK
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904e4"
        BEGIN
            VALUE "CompanyName", "Robert McNeel & Associates"
            VALUE "FileDescription", "CCycles - C-API for Cycles. Part of C[CS]?ycles"
            VALUE "FileVersion", VERSION_WITH_PERIODS
            VALUE "InternalName", "ccycles.dll"
            VALUE "LegalCopyright", COPYRIGHT
            VALUE "OriginalFilename", "ccycles.dll"
            VALUE "ProductName", "C[CS]?ycles - CCycles"
            VALUE "ProductVersion", RMA_VERSION_WITH_PERIODS_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1252
    END
END
